<section class="organizer">
  <header>
    Organizer: <strong>04/02/2021</strong>
  </header>
  <hr />

  <main>
    <ul>
      <li class="organizer__task">
        <span>Some Task</span>
      </li>
      <li class="organizer__task">
        <span>Some Task</span>
      </li>
      <li class="organizer__task">
        <span>Some Task</span>
      </li>
      <li class="organizer__task">
        <span>Some Task</span>
      </li>
      <li class="organizer__task">
        <span>Some Task</span>
      </li>
    </ul>
  </main>

  <footer>
    <form>
      <input class="organizer__input" type="text" placeholder="New note">
      <button
        type="submit"
        class="btn btn-primary btn-block"
      >
        Add new note
      </button>
    </form>
  </footer>
</section>
