<section class="organizer">
  <header>
    Organizer: <strong>{{ dateService.date | async | moment:'DD.MM.YYYY' }}</strong>
  </header>
  <hr />

  <main>
    <ul>
      <li class="organizer__task">
        <span>Some Task</span>
        <i class="material-icons">delete</i>
      </li>
    </ul>
  </main>

  <footer>
    <form (ngSubmit)="submit()" [formGroup]="form">
      <input
        class="organizer__input"
        type="text"
        placeholder="New note"
        formControlName="title"
      />
      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="form.invalid"
      >
        Add new note
      </button>
    </form>
  </footer>
</section>
