@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: .2s;

  &:hover {
    color: #666;
  }
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  background: #28292b;
  color: #d9dbda;
  padding: .4rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 2px solid #28292b;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  transition: .2s;

  &:disabled {
    opacity: .6;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    color: #fff;
    background: #000;
  }

  &:active:not(:disabled) {
    border: 2px solid #094f99;
  }
}

.btn-block {
  display: block;
  // width: 200px;
  // margin-left: auto;
}

.text-center {
  text-align: center;
}
